.tagline h1,
.tagline p {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 700;
}

.tagline p {
  line-height: 24px; /* 150% */
}

.foot-title,
.foot-text,
.footer-foot {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.foot-text:hover {
  color: #ff6161;
}

.footer {
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(60, 145, 230, 0.07);
  right: -8%;
  bottom: -35%;
  z-index: 1;
}
